@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(270deg, #6366f1, #8b5cf6, #ec4899);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html {
  scroll-behavior: smooth;
}


